<div>
  <div class="container">
    <form [formGroup]="complexForm" (ngSubmit)="onSubmit()">
      <p>Fill out the form below to submit</p>
      <div>
        <label for="name">Name</label>
        <input type="text" formControlName="name" />
        @if (name?.invalid && name?.touched) {
          <div class="error">This value is invalid</div>
        }
      </div>

      <div>
        <label for="email">Email</label>
        <input type="email" formControlName="email" />
        @if (email?.invalid && email?.touched) {
          <div class="error">This value is invalid</div>
        }
      </div>

      <div>
        <label for="age">Age</label>
        <input type="number" formControlName="age" />
        @if (age?.invalid && age?.touched) {
          <div class="error">This value is invalid</div>
        }
      </div>

      <div>
        <label for="password">Password</label>
        <input type="password" formControlName="password" />
        @if (password?.invalid && password?.touched) {
          <div class="error">This value is invalid</div>
        }
      </div>

      <div>
        <label for="consent">I agree to the terms and conditions</label>
        <input type="checkbox" formControlName="consent" />
        @if (consent?.invalid && consent?.touched) {
          <div class="error">This value is invalid</div>
        }
      </div>

      <button type="submit" [disabled]="!complexForm.valid">Submit</button>
    </form>
  </div>
</div>
